{% extends "base.html" %}

{% block main_content %}
    {% if section.extra.section_path -%}
        {% set section = get_section(path=section.extra.section_path) %}
    {% endif -%}

    {% block title %}
        {{ post_macros::page_header(title=section.title) }}
    {% endblock title %}

    {% if section.content %}
        <div class="section-content">
            {{ section.content | safe }}
        </div>
    {% endif %}

    {% block post_list %}
        <main class="post-list">
            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% else %}
                {%- set show_pages = section.pages -%}
            {% endif -%}

            {{ post_macros::list_posts(pages=show_pages) }}
        </main>
    {% endblock post_list %}

    {% if paginator %}
        <ul class="pagination">
            {% if paginator.previous %}
                {%- set prev_path = paginator.previous | replace(from=config.base_url, to="/") -%}
                <span class="page-item page-prev">
                    <a href="{{ prev_path | safe }}" class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>
                </span>
            {% endif %}

            {% if paginator.next %}
                {%- set next_path = paginator.next | replace(from=config.base_url, to="/") -%}
                <span class="page-item page-next">
                    <a href="{{ next_path | safe }}" class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>
                </span>
            {% endif %}
        </ul>
    {% endif %}
{% endblock main_content %}
